# 

name: terraform-destroy

on:
  workflow_dispatch:  # Manual trigger only

permissions:
  id-token: write
  contents: read
  actions: read

env:
  AWS_REGION: ap-south-1
  APP_NAME: hello-ecs
  ROLE_TO_ASSUME: arn:aws:iam::813600886350:role/github-oidc-deploy

jobs:
  destroy:
    name: Terraform Destroy Resources
    runs-on: ubuntu-latest

    steps:
      # --- Checkout code ---
      - name: Checkout
        uses: actions/checkout@v4

      # --- Configure AWS credentials using OIDC ---
      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.ROLE_TO_ASSUME }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Verify AWS Identity
        run: aws sts get-caller-identity

      # --- Setup Terraform ---
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.7.5

      # --- Terraform Destroy ---
      - name: Terraform Destroy
        working-directory: terraform
        run: |
          terraform init -input=false
          terraform destroy -auto-approve